2_trimestre/tema10_XML/XSDs/ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tarjeta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="banco" type="xs:string"/>
                <xs:element name="marca" type="xs:string"/>
                <xs:element name="tipo" type="xs:string"/>
                <xs:element name="numero" type="xs:string"/>
                <xs:element name="titular" type="xs:string"/>
                <xs:element name="mes_caducidad" type="xs:integer"/>
                <xs:element name="anio_caducidad" type="xs:integer"/>
                <xs:element name="cvv" type="xs:string"/>
                <xs:element name="moneda" type="xs:string"/>
                <xs:element name="limite_credito" type="xs:decimal"/>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>